/* General styles */
body {
    background-color: #0D0D0D;
    color: #FFFFFF;
    font-family: monospace;
    margin: 0;
    padding: 0;
}


.centered-gradient { 
    background: linear-gradient(to bottom, rgb(0, 0, 0) 80%, rgb(31, 6, 90) 100%);
}


#intro-name {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fadeOut 2.5s ease-out forwards;
}

@keyframes fadeOut {
    0% { opacity: 1;transform: translateX(0px); background-color: #0D0D0D;}
    20% { opacity: 1;transform: translateX(0px); background-color: #0D0D0D;}
    50% { opacity: 1;transform: translateX(0px); background-color: #0D0D0D;}
    89% { opacity: 1;transform: translateX(0px); background-color: #0D0D0D;}
    90% { opacity: 0.9;transform: translateX(0px); background-color: #0D0D0D;}
    91% { opacity: 0.8;transform: translateX(0px); background-color: #0D0D0D;}
    92% { opacity: 0.7;transform: translateX(0px); background-color: #0D0D0D;}
    93% { opacity: 0.6;transform: translateX(0px); background-color: #0D0D0D;}
    94% { opacity: 0.5;transform: translateX(0px); background-color: #0D0D0D;}
    95% { opacity: 0.4;transform: translateX(0px); background-color: #0D0D0D;}
    96% { opacity: 0.3;transform: translateX(0px); background-color: #0D0D0D;}
    97% { opacity: 0.2;transform: translateX(0px); background-color: #0D0D0D;}
    99% { opacity: 0.1;transform: translateX(0px); background-color: #0D0D0D;}
    100% { opacity: 0; visibility: hidden; transform: translateX(600px);}
}





/* About Me Section */
#open-to-work-tag {
	color: white;
	background-color: rgb(190, 60, 30);
	font-size: 1.0rem;
	text-align: center;
	padding-inline: 5px;
	border-radius: 5px;
	font-family: monospace;
}

.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    text-align: left;
}

.aboutme div{
    display: inline-flex;
}

#dev-photo{
	height: 200px;
	width: 200px;
	mask-image: linear-gradient(black 70%, transparent);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 5px;
    border:1px dashed rgb(255, 255, 255);
}

.abt-info h2 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    color: #310677;
    text-shadow: 2px 1px 4px rgba(11, 13, 165, 0.685);
    font-family: monospace;
}

.abt-info p {
    font-size: 1.4rem;
    color: #BBBBBB;
    max-width: 500px;
}

.abt-info.right {
    text-align: right;
    padding-left: 50px;
}

.abt-info.right ul {
    list-style: none;
    padding: 0;
}

.abt-info.right li {
    font-size: 1.5rem;
    margin: 10px 0;
}

.abt-info.right strong {
    color: #02b602;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





/* Projects */
.projects {
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}
.projects-container h2 {
	font-size: 2.0rem;
	text-align: center;
}

.projects-title {
    text-align: center;
    font-size: 2rem;
    margin: 50px 0;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.project.visible {
    opacity: 1;
    margin-left: 90px;
    transform: translateX(0);
}


.project-image-container {
	display: flex;
	flex-direction: column;
	padding: 20px 15px;
	padding-top: 5px;
	border-radius: 10px;
	align-content: center;
	background: linear-gradient(rgb(20, 10, 45), rgb(20, 30, 50));
	box-shadow: 3px 2px 2px 2px black;
    margin-right: 20px;
}
.project-image-container span {
	color: #02b602;
	font-family: monospace;
	font-size: 1.4rem;
	height: 20px;
	padding-left: 10px;
    margin-bottom: 10px;
}

.project-image {
    width: 450px;
    height: 280px;
    border-radius: 8px;
	object-fit: cover;
}

.project-content {
    max-width: 600px;
}

.project-title {
    font-size: 2.2rem;
    margin-top: 0;
	color: #02b602;
    font-weight: bold;
}

.project-description {
    color: #bbb;
    margin-bottom: 10px;
	font-size: 1.4rem;
    text-align: justify;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
}

.tech {
    background-color: #222;
    color: #9b59b6;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-right: 5px;
    margin-bottom: 5px;
}




/*Resume Container*/
.resume-container{
    display: flex;
    flex-direction: column;
}
.resume-container h2 {
	font-size: 2.0rem;
	text-align: center;
}
.resume-container a{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 25px;
    text-decoration: none;
    color: white;
}
.cv-image {
    padding-top: 0;
    margin-top: 0;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    transition: transform 0.4s ease;
    cursor: zoom-in;
}
.cv-image:hover {
    transform: scale(1.4);
}

/*Education Container*/
.education-container h2 {
	font-size: 2.0rem;
	text-align: center;
}
#education-text{
    font-size: 1.2rem;
    text-align: center;
    padding-inline: 10%;
}
#education-content{
    display: inline-flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
#university-tag{
    background-color: royalblue;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
#career-tag{
    background-color: crimson;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
#graduation-tag{
    background-color: goldenrod;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Languages */
.languages-container h2 {
	font-size: 2.0rem;
	text-align: center;
}
#languages-text{
    font-size: 1.2rem;
    text-align: center;
    padding-inline: 10%;
}
#languages-content{
    display: inline-flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.languages-tag{
    background-color: #310677;
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 5px;
    justify-self: center;
    text-align: center;
    font-weight: bold;
}
.flag-icon {
    width: 22px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }

/* Contact */
.contacts-container {
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    justify-self: center;
    margin-top: 500px;
    margin-bottom: 100px;
    justify-content: center;
    width: 40%;
    text-align: center;
}

#contacts-list{
    display:flex;
    gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
}

.contacts-title {
    text-align: center;
    font-size: 2rem;
    margin: 50px 0;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.contact-option {
    transform: translateY(50px);
    transition-duration: 2s;
    opacity: 0;
}

.contact-option.visible {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
    opacity: 1;
    text-decoration: none;
    width: 30%;
    transform: translate(0);
}

.contact-image {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
}
.contact-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #02b602;
}

#last-message{
    font-size: 1.2rem;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #666;
}







/* Responsiveness */
/* Para pantallas menores a 768px (como celulares) */
@media (max-width: 768px) {
    body {
        display: block;
        max-width: 768px;
    }
    #intro-name {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 768px;
        font-size: 2.8rem;
    }
    .aboutme {
        max-width: 768px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .aboutme h2 {
        font-size: 2.5rem;
    }
    .aboutme p{
        font-size: 1.2rem;
    }
    .aboutme div {
        width: 100%;
        display: block;
    }
    .abt-info.left{
        width: 90%;
        padding: 0;
    }
    .abt-info.right{
        margin-top: 200px;
    }
    .abt-info.right ul li{
        display: inline-flex;
        padding-left: 0;
    }

    .projects-container{
        max-width: 768px;
        display: block;
    }
    #projects-list{
        max-width: 768px;
        display: block;
        align-content: center;
        justify-content: center;
        padding-inline: 40px;
    }
    .projects-container img{
        width: 100%;
        height: 250px;
        justify-self: center;
    }
}

/* Effects */
.blush-wrapper {
  position: relative;
  display: inline-block;
}

.blush-glow.first {
  position: absolute;
  top: 10%;
  left: 90%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -100%);
  background: radial-gradient(circle, rgba(15, 10, 35, 0.5), transparent 90%);
  filter: blur(10px);
  z-index: 1;
  animation: blushColorShift 6s ease-in-out infinite alternate;
}



/* Animations */
@keyframes blushColorShift {
  0% {
    background: radial-gradient(circle at 30% 30%, rgb(209, 69, 162), #eb4b5d);
	transform: scale(1.05);
    filter: blur(200px);
  }
  25% {
    background: radial-gradient(circle at 30% 30%, rgba(14, 58, 99, 0.911), #450447);
	transform: translate(500%, -200%) scale(0.6);
    filter: blur(100px);
  }
  50% {
    background: radial-gradient(circle at 30% 30%, #17dfe6, #3c98d6);
	transform: scale(2.2);
    transform: translate(100%, -100%);
    filter: blur(100px);
  }
  75% {
    background-color:rgb(15, 190, 221);
    transform: translate(-200%, -10%) scale(2);
  }
  100% {
    background: radial-gradient(circle at 30% 30%, rgba(39, 15, 146, 0.726), #0f042e7c);
    transform: translate(-200%, -200%) scale(2.2);
  }
}