/* General styles */
body {
    background-color: #0D0D0D;
    color: #FFFFFF;
    font-family: monospace;
    margin: 0;
    padding: 0;
}


.centered-gradient { 
    background: linear-gradient(to bottom, rgb(0, 0, 0) 80%, rgb(31, 6, 90) 100%);
}


#intro-name {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fadeOut 2.5s ease-out forwards;
}

@keyframes fadeOut {
    0% { opacity: 1;transform: translateX(0px); background-color: #0D0D0D;}
    20% { opacity: 1;transform: translateX(0px); background-color: #0D0D0D;}
    50% { opacity: 1;transform: translateX(0px); background-color: #0D0D0D;}
    89% { opacity: 1;transform: translateX(0px); background-color: #0D0D0D;}
    90% { opacity: 0.9;transform: translateX(0px); background-color: #0D0D0D;}
    91% { opacity: 0.8;transform: translateX(0px); background-color: #0D0D0D;}
    92% { opacity: 0.7;transform: translateX(0px); background-color: #0D0D0D;}
    93% { opacity: 0.6;transform: translateX(0px); background-color: #0D0D0D;}
    94% { opacity: 0.5;transform: translateX(0px); background-color: #0D0D0D;}
    95% { opacity: 0.4;transform: translateX(0px); background-color: #0D0D0D;}
    96% { opacity: 0.3;transform: translateX(0px); background-color: #0D0D0D;}
    97% { opacity: 0.2;transform: translateX(0px); background-color: #0D0D0D;}
    99% { opacity: 0.1;transform: translateX(0px); background-color: #0D0D0D;}
    100% { opacity: 0; visibility: hidden; transform: translateX(600px);}
}





/* About Me Section */
#open-to-work-tag {
	color: white;
	background-color: rgb(190, 60, 30);
	font-size: 1.0rem;
	text-align: center;
	padding-inline: 5px;
	border-radius: 5px;
	font-family: monospace;
}

.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    text-align: left;
}

.aboutme div{
    display: inline-flex;
}

#dev-photo{
	height: 200px;
	width: 200px;
	mask-image: linear-gradient(black 80%, transparent);
    border-end-end-radius: 20px;
    border-top-left-radius: 60px;
    border-top-right-radius: 5px;
    border:1px dashed rgb(255, 255, 255);
}

.abt-info h2 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    color: #310677;
    text-shadow: 2px 1px 4px rgba(11, 13, 165, 0.685);
    font-family: monospace;
}

.abt-info p {
    font-size: 1.4rem;
    color: #BBBBBB;
    max-width: 500px;
}

.abt-info.right {
    text-align: right;
    padding-left: 50px;
}

.abt-info.right ul {
    list-style: none;
    padding: 0;
}

.abt-info.right li {
    font-size: 1.5rem;
    margin: 10px 0;
}

.abt-info.right strong {
    color: #02b602;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





/* Projects */
.projects {
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}
.projects-container h2 {
	font-size: 2.0rem;
	text-align: center;
}

.projects-title {
    text-align: center;
    font-size: 2rem;
    margin: 50px 0;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.project.visible {
    opacity: 1;
    margin-left: 90px;
    transform: translateX(0);
}

.project-image {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    margin-right: 20px;
}

.project-content {
    max-width: 600px;
}

.project-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description {
    color: #bbb;
    margin-bottom: 10px;
    text-align: justify;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
}

.tech {
    background-color: #222;
    color: #9b59b6;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-right: 5px;
    margin-bottom: 5px;
}

#load-more-projects-button {
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 40px 280px;
    padding: 14px 0;
    background: linear-gradient(to right, #310677, #1f065a);
    color: #ffffff;
    font-size: 1.2rem;
    font-family: monospace;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 55% 70%, 50% 100%, 45% 70%, 0% 70%);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(49, 6, 119, 0.5);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#load-more-projects-button:hover {
    background: linear-gradient(to right, #1f065a, #310677);
    color: #02b602;
    transform: scale(1.05) scaleX(1.4);
    box-shadow: 0px 6px 15px rgba(49, 6, 119, 0.7);
}

#load-more-projects-button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(49, 6, 119, 0.3);
}





/* Contact */
.contacts-container {
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    justify-self: center;
    margin-top: 500px;
    margin-bottom: 100px;
    justify-content: center;
    width: 40%;
    text-align: center;
}

#contacts-list{
    display:flex;
    gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
}

.contacts-title {
    text-align: center;
    font-size: 2rem;
    margin: 50px 0;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.contact-option {
    transform: translateY(50px);
    transition-duration: 2s;
    opacity: 0;
}

.contact-option.visible {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
    opacity: 1;
    text-decoration: none;
    width: 30%;
    transform: translate(0);
}

.contact-image {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
}
.contact-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #02b602;
}

#last-message{
    font-size: 1.2rem;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #666;
}







/* Responsiveness */
/* Para pantallas menores a 768px (como celulares) */
@media (max-width: 768px) {
    body {
        display: block;
        max-width: 768px;
    }
    #intro-name {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 768px;
        font-size: 2.8rem;
    }
    .aboutme {
        max-width: 768px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .aboutme h2 {
        font-size: 2.5rem;
    }
    .aboutme p{
        font-size: 1.2rem;
    }
    .aboutme div {
        width: 100%;
        display: block;
    }
    .abt-info.left{
        width: 90%;
        padding: 0;
    }
    .abt-info.right{
        margin-top: 200px;
    }
    .abt-info.right ul li{
        display: inline-flex;
        padding-left: 0;
    }

    .projects-container{
        max-width: 768px;
        display: block;
    }
    #projects-list{
        max-width: 768px;
        display: block;
        align-content: center;
        justify-content: center;
        padding-inline: 40px;
    }
    .projects-container img{
        width: 100%;
        height: 250px;
        justify-self: center;
    }
}